{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"printWidth": 120,
	"tabWidth": 3,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxBracketSameLine": false
}
